{% extends 'common/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <!-- To display the messages -->
  <!-- The messages -->
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}


  <!-- To let the message disappear after a few seconds -->
  <script>
      setTimeout(function() {
          $('.alert').fadeOut('slow');
      }, 3000);
  </script>
  <!-- Top jumbotron -->
  <div class="jumbotron jumbotron-fluid bg-green">
    <div class="container text-center">
      <h1 class="display-4">Welcome to The Ezen Partners Chat App</h1>
      <p class="lead">Enjoy simple, fun, and reliable communication</p>
      {% if user.is_authenticated %} 
        <a class="btn btn-info btn-lg" href="{% url 'chat_view' %}" role="button">Start Chat</a>
      {% else %}
        <a class="btn btn-info btn-lg d-inline-block" href="{% url 'login' %}" role="button">Login</a>
        <p class="d-inline-block mx-2">Or</p>
        <a class="btn btn-warning btn-lg d-inline-block" href="{% url 'register' %}" role="button">Register</a>
      {% endif %}
    </div>
  </div>
<!-- End of jumbotron -->
  <!-- To start the application -->
  {% if user.is_authenticated %}
  <div class="container">
    <div class="row">
      <div class="col mx-auto">
        <div class="card">
          <div class="card-body text-center">
            <!-- <h5 class="card-title">View your chats</h5> -->
            <p class="card-text">Check here</p>
            <a href="" class="btn btn-warning">View your chats</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% endif %}
{% endblock %}