{% extends 'common/base.html' %}
{% block title %} chat view {% endblock %}

{% block content %}
<div class="row">
    
    <div class="col-md-12">
        <h3>Chat Messages:</h3>
        <br>
        <form method="post" action="">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="text" placeholder="Type your message here" class="form-control">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-info">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
