{% extends 'common/base.html' %}

{% block content %}
  <div id="chat">
    {% for message in messages %}
      <div class="message {% if message.sender == request.user %}sent{% else %}received{% endif %}">
        <div class="sender">{{ message.sender.username }}</div>
        <div class="content">{{ message.content }}</div>
      </div>
    {% endfor %}
  </div>
  <form method="post" action="{% url 'chat' %}">
    {% csrf_token %}
    <input type="text" name="message" placeholder="Type your message here">
    <button type="submit">Send</button>
  </form>
{% endblock %}
